body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  padding: 10px;
}

a:link {
  text-decoration: none;
  color: white;
}

.header {
  /* height: 72px; */
  background: darkmagenta;
  color: white;
  font-size: 32px;
  font-weight: 900;
  padding: 16px;
  margin: 0px;
  display: flex;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  text-align: center;
  display: flex;
  /* how come didn't need flex-direction */
  flex-direction: column;
  justify-content: center;
}

.sidebar {
  flex-shrink: 0;
  width: 300px;
  background: royalblue;
  padding: 10px;
  font-size: 24px;
  /* text-align: left; */

}

.content {
  display: flex;
  flex-wrap: wrap;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  /* width: 300px;
  height: 300px; */
  margin: 30px;
  /* flex: 1; */
  flex-basis: 300px;
  padding: 20px
}

.container {
  display: flex;
  flex: 1;
/* flex 1 very importan to expand to fit screen */
}
/* 
flex-grow : 1;    ➜ The div will grow in same proportion as the window-size       
flex-shrink : 1;  ➜ The div will shrink in same proportion as the window-size 
flex-basis : 0;   ➜ The div does not have a starting value as such and will 
                     take up screen as per the screen size available for
                     e.g:- if 3 divs are in the wrapper then each div will take 33%. */